<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/how-it-works.html">How It Works</a></li>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/contact-us.html">Contact Us</a></li>
        <li><a href="/join-as-installer.html">Join as an Installer</a></li>
        <li><a href="/project-showcase.html">Project Showcase</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/how-it-works">How It Works</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/join-as-an-installer">Join as an Installer</a></li>
        <li><a href="/project-showcase">Project Showcase</a></li>
    </ul>
</nav>
